<footer style="background-color: #4A0000; border-top: 2px solid #D61D28;" class="text-white text-center">
    <!-- Grid container -->
    <div class="container  pt-5 px-1">
        <!--Grid row-->
        <div class="row">
            <div class="col-lg-4 col-d-flex justify-content-start align-items-start text-center text-lg-left">
                <a href="/">
                    <img class="pb-3" src="../../../assets/images/others/logo2.png" alt="Logo" height="80" width="200"
                        title="Dwiin">
                </a>
                <p class="font-normal">Pakistan's Top Banquets, Wedding Halls, reviews and advises on
                    wedding venues,
                    Venues'
                    packages, and lots more!</p>
                <!-- <ul style="list-style-type:none; padding-left:0px" class="d-flex flex-col justify-content-start">
                    <li class="px-2">
                        <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top"
                            href="https://www.facebook.com/VenueBazaar-1696079727278669/?ref=bookmarks"></a>
                    </li>
                    <li class="px-2">
                        <a class="fa fa-youtube box-icon-normal round animate-icon-bottom-to-top"
                            href="https://www.youtube.com/channel/UC4KtEvuLKHNaVANh-I9ncGg"></a>
                    </li>
                    <li class="px-2">
                        <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top"
                            href="https://plus.google.com/u/0/b/106581636221367193863/106581636221367193863"></a>
                    </li>
                </ul> -->
            </div>
            <div
                class="col-lg-2 col-d-flex mb-0 justify-content-center align-items-center text-center text-lg-left pt-2">
                <ul class="list list-footer font-normal" style="list-style-type:none; padding-left:0px">
                    <li><a href="index.aspx">Home</a>
                    </li>
                    <li><a href="Search_Hall.aspx">Wedding venue</a>
                    </li>
                    <li><a href="Farmhouse-in-karachi.aspx">Book now</a>
                    </li>
                    <li><a href="About-us.aspx">About us</a>
                    </li>
                    <li><a href="#">Search</a>
                    </li>
                    <li><a href="Contact-us.aspx">Contact us</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 ">
                <!--Grid row-->
                <form class="col-d-flex justify-content-start text-center align-items-start text-lg-left" action="">

                    <!--Grid column-->
                    <div class="row-auto 
                            mb-4 mb-md-0
                            ">
                        <p class="mb-1" style="font-size:25px">Newsletter</p>
                        <p class="mb-1 font-normal">Sign up for our newsletter</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="row-md-5 row-12 
                            mb-4 mb-md-3
                            ">
                        <!-- Email input -->
                        <div class="form-outline mb-1">
                            <input type="email" id="form5Example2" class="form-control input-news-letter font-normal" />
                            <label class="form-label" for="form5Example2">Email address</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="row-auto 
                            mb-4 mb-md-0
                            ">
                        <!-- Submit button -->
                        <button type="submit" class="btn subs-btn mb-4">Subscribe</button>
                    </div>

                    <!--Grid column-->
                </form>

                <!--Grid row-->
            </div>
            <div class="col-lg-3 col-d-flex justify-content-end align-item-start text-center text-lg-left">
                <p class="mb-0" style="font-size:25px">Have Questions?</p>
                <p class="mb-0"> <span id="footernum">0336-20232476</span></p>
                <p class="mb-0 mt-3"><a href="#" class="text-color text-bigger">support@venuepalace.pk</a></p>
                <p class="mb-0 font-normal">24/7 Dedicated Customer Support</p>

            </div>
        </div>

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">venuepalace.com</a>
    </div>

    <!-- Copyright -->
</footer>